.list {
    background-color: white;

}

.list__header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-right: 10px;
    align-items: center;
    grid-gap: 8px;
    border-bottom: 1px solid #ccc;
}

@media(max-width:767px) {
    .list__header {
        grid-template-columns: 1fr;
    }
}

.list__headerText {
    margin: 0;
    padding: 20px;
}

.list__actionButton {
    font-style: normal;
    border: none;
    color: teal;
    background-color: white;
}

@media(max-width:767px) {
    .list__actionButtons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 10px;
    }
}

@media(max-width:767px) {
    .list__actionButton {
        padding: 8px;
    }
}

.list__actionButton:hover {

    color: rgba(0, 128, 128, 0.5);
    transition: 0.5s;
}

.list__actionButton:disabled {
    color: rgba(0, 128, 128, 0.2);
}

.list__item {
    padding: 20px;
    margin: 0;
}

.list__newTask {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 8px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.list__newTask--hidden {
    display: none;
}

.list__buttons {
    color: white;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
}

.list__buttons--remove {
    background-color: red;
    transition: 0.5s;
}

.list__buttons--remove:hover {
    background-color: rgba(255, 0, 0, 0.781);
}

.list__buttons--done {
    background-color: green;
    transition: 0.5s;
}

.list__buttons--done:hover {
    background-color: rgba(0, 128, 0, 0.781);
}

.list__content--done {
    text-decoration-line: line-through;
}